.presentation{
    margin-left: 5vw;
}

.qrCode{
    height: auto;
    margin: 0 auto;
    max-width: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.presentation-container{
    background: linear-gradient(to right, #b4df9f, #285A43);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 1.5em;
    padding-left: 2.5em;
    margin-top: 2em;
    font-weight: bold;
    font-size: large;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.presentation-text{
    float: right;
    margin-right: 20px;
}
.presentation-text p {
    font-size: x-large;
}
.coupon-title{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
.coupon-title-content{
    margin-left: 1vw;
}
img{
    height: 50vh;
}
.qrcode-button {
    width: 20vw;
}
.souligne {
    text-decoration: underline;
    color: rgb(29, 29, 32);
    cursor: pointer;
}

.qrCodeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour créer un effet de superposition */
    z-index: 999; /* Met l'élément au-dessus de tous les autres éléments */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .qrCodeExpanded {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Met l'élément au-dessus de l'overlay */
  }